@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Niconne&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
img
{
    max-width: 800px;
    max-height: 600px;
    width: 400px;
    height: 270px;
}

body
{
    background-color: rgb(24, 29, 36);
}

.firstpart
{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 15, 18);
    position: fixed;
    z-index: 3;
}
.menu0
{
    margin-left: 5rem;
}
.text1
{
    margin-top: 1.5rem;
    float: left;
}
.text1 h2
{
    color: aliceblue;
    font-size: 40px;
}
.text2
{
    letter-spacing: 2rem;
    padding: 2rem;
    float: right;
}
.text2 button
{
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}
.text2 a
{
    color: rgb(24, 45, 108);
    font-weight: 900;
    font-size: 20px;
    font-family: "Arvo", serif;
}
/*------menu bar part---------*/

/* slide show */
.slideshow-TU
{
    position: relative;
    border: 2px solid white;
    padding: 1rem;
    width: 800px; height: 300px;
    margin: 0 auto;
    margin-top: 80px;
}
/* ---------------------- */

/* items-group TU */
.items-1 img
{
    width: 470px; height: 260px;
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
}
.slideshow-TU .slick-prev 
{
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 10;
}
.slideshow-TU .slick-next
{
    position: absolute;
    right: 20px;
    top: 120px;
}
.slideshow-TU .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}
/* -------------------- */

/* slideshow KMITL */
.slideshow-KMITL
{
    border: 2px solid white;
    padding: 1rem;
    width: 800px; height: 300px;
    margin: 0 auto;
    margin-top: 80px;
}
/* ----------------------- */

/* items-group KMITL */
.items-2 img
{
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
    width: 470px; height: 260px;
}
.slideshow-KMITL .slick-next
{
    position: absolute;
    right: 20px;
    top: 120px;
}
.slideshow-KMITL .slick-prev 
{
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 10;
}
.slideshow-KMITL .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}

/* slideshow KMITL */
.slideshow-KMUTT
{
    border: 2px solid white;
    padding: 1rem;
    width: 800px; height: 300px;
    margin: 0 auto;
    margin-top: 80px;
}
/* ----------------------- */

/* items-group KMUTT */
.items-3 img
{
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
    width: 470px; height: 260px;
}
.slideshow-KMUTT .slick-next
{
    position: absolute;
    right: 20px;
    top: 120px;
}
.slideshow-KMUTT .slick-prev 
{
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 10;
}
.slideshow-KMUTT .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}
/* -------------------- */