*
{
    font-family: "Arvo", serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right bottom, #210033, #1b0631, #160b2d, #130e28, #111023, #101023, #101123, #0f1123, #0d102a, #0a0e31, #070c37, #05093d);
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    height: 100%;
}

.container {
    justify-content: space-between;
    align-items: center;
    /* min-height: 100vh; */
}

.firstpart
{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.menu0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2vw);
}
.text1 h2
{
    font-size: 3vw;
    margin-left: 2rem;
}

.text2 a
{
    color: black;
    font-size: 2.5vw;
    text-decoration: none;
    font-weight: 700;
}
.text2 button {
    border: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 4px 4px 0px 0px rgb(114, 117, 128);
}


/* detail */
.detail{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
/* slide show */
.slideshow-TU, .slideshow-KMITL, .slideshow-KMUTT
{
    position: relative;
    border: none;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.539);
    padding: 1rem;
    width: 80%; height: 20vh;
    margin: 0 auto;
    margin-top: 80px;
}
/* ---------------------- */

/* items-group */
.items-1 img, .items-2 img, .items-3 img
{
    width: 50vw; height: 25vw;
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
}
.slideshow-TU .slick-prev 
{
    position: absolute;
    left: 1vw;
    top: 10vw;
    z-index: 1;
}
.slideshow-TU .slick-next
{
    position: absolute;
    right: 1vw;
    top: 10vw;
}
.slideshow-TU .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 7vw;
    cursor: pointer;
}
/* -----dots------ */
.slideshow-TU .slick-dots
{
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow-TU .slick-dots li
{
    opacity: 70%;
    margin: 0 2px;
    margin-top: 1rem;
    cursor: pointer;
    width: 15px; height: 15px;
    background: white;
    border-radius: 50%;
}
.slideshow-TU .slick-dots .slick-active
{
    opacity: 100%;
    background: rgb(255, 179, 0)!important;
}


/* -------------------- */

/* slideshow KMITL */

.slideshow-KMITL .slick-prev 
{
    position: absolute;
    left: 1vw;
    top: 10vw;
    z-index: 1;
}
.slideshow-KMITL .slick-next
{
    position: absolute;
    right: 1vw;
    top: 10vw;
}
.slideshow-KMITL .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 7vw;
    cursor: pointer;
}
/* -----dots------ */
.slideshow-KMITL .slick-dots
{
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow-KMITL .slick-dots li
{
    opacity: 70%;
    margin: 0 2px;
    margin-top: 1rem;
    cursor: pointer;
    width: 15px; height: 15px;
    background: white;
    border-radius: 50%;
}
.slideshow-KMITL .slick-dots .slick-active
{
    opacity: 100%;
    background: rgb(255, 179, 0)!important;
}
/* slideshow KMITL */

.slideshow-KMUTT .slick-prev 
{
    position: absolute;
    left: 1vw;
    top: 10vw;
    z-index: 1;
}
.slideshow-KMUTT .slick-next
{
    position: absolute;
    right: 1vw;
    top: 10vw;
}
.slideshow-KMUTT .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 7vw;
    cursor: pointer;
}
/* -----dots------ */
.slideshow-KMUTT .slick-dots
{
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow-KMUTT .slick-dots li
{
    opacity: 70%;
    margin: 0 2px;
    margin-top: 1rem;
    cursor: pointer;
    width: 15px; height: 15px;
    background: white;
    border-radius: 50%;
}
.slideshow-KMUTT .slick-dots .slick-active
{
    opacity: 100%;
    background: rgb(255, 179, 0)!important;
}
/* -------------------- */
h1
{
    margin: 0 auto;
    display: block;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    font-size: 7vw;
    width: 100%;
}
/* -----------modal------------- */
.modal h1
{
    width: 80%; height: auto;
    margin: 0 auto;
    color: rgb(2, 18, 31);
    font-size: 20px;
    border-radius: 30px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.742);
    font-family: "DM Serif Display", serif;

}
.modal
{
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%; height: auto;
    border: none;
}
