@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Niconne&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
img
{
    max-width: 800px;
    max-height: 600px;
    width: 400px;
    height: 270px;
}

body
{
    background-color: rgb(24, 29, 36);
}

.firstpart
{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 15, 18);
    position: fixed;
    z-index: 3;
}
.menu0
{
    margin-left: 5rem;
}
.text1
{
    margin-top: 1.5rem;
    float: left;
}
.text1 h2
{
    color: aliceblue;
    font-size: 40px;
}
.text2
{
    letter-spacing: 2rem;
    padding: 2rem;
    float: right;
}
.text2 button
{
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}
.text2 a
{
    color: rgb(24, 45, 108);
    font-weight: 900;
    font-size: 20px;
    font-family: "Arvo", serif;
}
/*------menu bar part---------*/

/* slide show */
.slideshow-TU
{
    position: relative;
    border: none;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.539);
    padding: 1rem;
    width: 800px; height: 320px;
    margin: 0 auto;
    margin-top: 80px;
}
/* ---------------------- */

/* items-group TU */
.items-1 img
{
    width: 470px; height: 260px;
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
}
.slideshow-TU .slick-prev 
{
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 1;
}
.slideshow-TU .slick-next
{
    position: absolute;
    right: 20px;
    top: 120px;
}
.slideshow-TU .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}
/* -----dots------ */
.slideshow-TU .slick-dots
{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.slideshow-TU .slick-dots li
{
    opacity: 70%;
    margin: 0 2px;
    margin-top: 1rem;
    cursor: pointer;
    width: 15px; height: 15px;
    background: white;
    border-radius: 50%;
}
.slideshow-TU .slick-dots .slick-active
{
    opacity: 100%;
    background: rgb(255, 179, 0)!important;
}
/* rgb(255, 179, 0) */

/* -------------------- */

/* slideshow KMITL */
.slideshow-KMITL
{
    border: none;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.539);
    padding: 1rem;
    width: 800px; height: 320px;
    margin: 0 auto;
    margin-top: 80px;
}
/* ----------------------- */

/* items-group KMITL */
.items-2 img
{
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
    width: 470px; height: 260px;
}
.slideshow-KMITL .slick-next
{
    position: absolute;
    right: 20px;
    top: 120px;
}
.slideshow-KMITL .slick-prev 
{
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 1;
}
.slideshow-KMITL .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}
/* ----dots----- */
.slideshow-KMITL .slick-dots
{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.slideshow-KMITL .slick-dots li
{
    opacity: 70%;
    margin: 0 2px;
    margin-top: 1rem;
    cursor: pointer;
    width: 15px; height: 15px;
    background: white;
    border-radius: 50%;
}
.slideshow-KMITL .slick-dots .slick-active
{
    opacity: 100%;
    background: rgb(255, 179, 0)!important;
}
/* slideshow KMITL */
.slideshow-KMUTT
{
    border: none;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.539);
    padding: 1rem;
    width: 800px; height: 320px;
    margin: 0 auto;
    margin-top: 80px;
}
/* ----------------------- */

/* items-group KMUTT */
.items-3 img
{
    margin: 0 auto;
    border-radius: 30px;
    object-fit: cover;
    width: 470px; height: 260px;
}
.slideshow-KMUTT .slick-next
{
    position: absolute;
    right: 20px;
    top: 120px;
}
.slideshow-KMUTT .slick-prev 
{
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 1;
}
.slideshow-KMUTT .slick-arrow
{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}
/* ----dots------ */
.slideshow-KMUTT .slick-dots
{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.slideshow-KMUTT .slick-dots li
{
    opacity: 70%;
    margin: 0 2px;
    margin-top: 1rem;
    cursor: pointer;
    width: 15px; height: 15px;
    background: white;
    border-radius: 50%;
}
.slideshow-KMUTT .slick-dots .slick-active
{
    opacity: 100%;
    background: rgb(255, 179, 0)!important;
}
/* -------------------- */
h1
{
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    font-size: 55px;
}
/* -----------modal------------- */
.modal h1
{
    width: 700px; height: auto;
    margin: 0 auto;
    color: rgb(2, 18, 31);
    font-size: 20px;
    font-family: "DM Serif Display", serif;

}
.modal
{
    margin: 0 auto;
    margin-top: 2rem;
    width: 750px; height: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.742);
    border-radius: 30px;
}

/* --------------------Media----------------- */
@media (max-width:768px)
{
    h1{width: 600px;}
    .slideshow-KMITL ,.slideshow-KMUTT ,.slideshow-TU{width: 750px;}
}
@media (max-width:1024px)
{
    h1{width: 780px;}
}
@media (max-width:1044px)
{
    h1{width: 780px;}
}
@media (max-width:390px)
{
    .firstpart{height: 22%;}
    .text1{margin-left: 1.5rem;}
    .text2 {display: flex; margin-right: 4rem; margin-top: -1rem;}
    .text2 button{padding: 5px 7px; margin: 4px;}
    h1{width: 300px; font-size: 35px;}
    .slideshow-TU .slick-arrow, .slideshow-KMITL .slick-arrow, .slideshow-KMUTT .slick-arrow{font-size: 30px;}
    .slideshow-TU{width: 350px; height: inherit; border-radius: 20px;}
    .slideshow-KMITL{width: 350px; height: inherit; border-radius: 20px;}
    .slideshow-KMUTT{width: 350px; height: inherit; border-radius: 20px;}
    .modal h1{width: 310px; text-align: center;} .modal{width: 360px;}

}

@media (max-width:360px)
{
    .firstpart{height: 30%;}
    .text1{margin-left: 0.5rem;}
    .text2{margin-right: 3.5rem;}
}

@media (max-width:320px)
{
    .firstpart{height: 30%;}
    .text1{margin-left: -1rem;}
    .text2{margin-right: 2rem;}
    .slideshow-TU .slick-arrow, .slideshow-KMITL .slick-arrow, .slideshow-KMUTT .slick-arrow{font-size: 28px;}
    .slideshow-TU{width: 300px; height: inherit; border-radius: 20px;}
    .slideshow-KMITL{width: 300px; height: inherit; border-radius: 20px;}
    .slideshow-KMUTT{width: 300px; height: inherit; border-radius: 20px;}
    .modal h1{width: 290px; text-align: center;} .modal{width: 300px;}
}