*
{
    font-family: "Arvo", serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right bottom, #210033, #1b0631, #160b2d, #130e28, #111023, #101023, #101123, #0f1123, #0d102a, #0a0e31, #070c37, #05093d);
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    height: 100%;
}

.container {
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.firstpart
{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.menu0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2vw);
}
.text1 h2
{
    font-size: 3vw;
    margin-left: 2rem;
}

.text2 a
{
    color: black;
    font-size: 2.5vw;
    text-decoration: none;
    font-weight: 700;
}
.text2 button {
    border: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 4px 4px 0px 0px rgb(114, 117, 128);
}


/*-----main------*/

.head2
{
    text-align: center;
    color: aliceblue;
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 2px;
    transition-duration: 0.3s;
}
.head2 h1
{
    font-size: 7vw;
    border: 2px solid white;
    border-radius: 2vw;
    width: 60vw;
    margin: 0 auto;
}
.head2 h1:hover
{
    background-color: aliceblue;
    color: black;
}

img{
    width: 45vw;
    height: 33vw;
}
.hcec img{
    width: 50vw;
    height: 70vw;
}
.all
{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
}


.modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal7, .modal8
{
    border-radius: 20px;
    width: 70vw; height: auto;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* content */
.cer-group
{
    width: 100%; height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cer-group h1
{
    font-size: 4vw;
    color: rgb(255, 183, 0);
}
.cer-group p
{
    font-size: 2vw;
}
