@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');

body
{
    background-color: rgb(4, 11, 33);
}

.menu0 h2
{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    display: inline;
    text-align: start;
    padding: 2rem;
    list-style-type: none;
}

.menu0 a
{
    font-size: 20px;
    color: rgb(24, 45, 108);
}

.text1
{
    margin-top: 2rem;
    padding: 0 3rem;
    float:left;
}
.text2
{
    float: right;
    margin-right: 2rem;
}

.menu0 button
{
    font-weight: 900;
    margin-left: 0.5cm;
    margin-top: 2rem;
    padding: 10px 25px;
    border: 0;
    display: inline-flex;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px rgb(103, 117, 163);
}

*
{
    font-family: "Arvo", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}