@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Niconne&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');

/*-----part menubar-----*/
*
{
    width: auto; height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;
}

img
{
    margin-left: 2rem;
    max-width: 600px;
    max-height: 900px;
    width: 100%;
    height: 100%;
}

.container
{
    background-color: rgb(24, 29, 36);
    max-width: 1440px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.firstpart
{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 15, 18);
    position: fixed;
    z-index: 1;
}
.menu0
{
    margin-left: 5rem;
}
.text1
{
    margin-top: 1.5rem;
    float: left;
}
.text1 h2
{
    color: aliceblue;
    font-size: 40px;
}
.text2
{
    letter-spacing: 2rem;
    padding: 2rem;
    float: right;
}
.text2 button
{
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}
.text2 a
{
    color: rgb(24, 45, 108);
    font-weight: 900;
    font-size: 20px;
    font-family: "Arvo", serif;
}

/*--------head2---------*/
.head2
{
    margin: 0 auto;
    font-family: "Playfair Display", serif;
    color: aliceblue;
}

/*-----main------*/

.head2
{
    border: 2px solid white;
    border-radius: 30px;
    max-width: 1000px;
    width: 800px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.head2:hover
{
    background-color: aliceblue;
}
.head2 h1
{
    font-family: "DM Serif Display", serif;
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: aliceblue;
}
.head2 h1:hover{color: black;}

.modal1 /*chiangmai*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 200px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal1:hover
{
    transform: translate(-15px, -10px);
    font-size: 17px;
    background-color: rgb(219, 219, 232);
    color: black;
}
.modal2 /*pyhton kmitl*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 270px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal2:hover
{
    background-color: rgb(219, 219, 232);
    font-size: 17px;
    color: black;
    transform: translate(-15px, -10px);
}
.modal3 /*ais*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 200px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);  
    transition-duration: 0.2s;       
}
.modal3:hover
{
    background-color: rgb(219, 219, 232);
    color: black;
    transform: translate(-15px, -10px);
    font-size: 17px;
}
.modal4 /*ciracore*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 270px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal4:hover
{
    background-color: rgb(219, 219, 232);
    color: black;
    transform: translate(-15px, -10px);
    font-size: 17px;
}
.modal5 /*python entry*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 270px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal5:hover
{
    background-color: rgb(219, 219, 232);
    color: black;
    transform: translate(-15px, -10px);
    font-size: 17px;
}
.modal6 /*tme kmutt*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 270px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal6:hover
{
    background-color: rgb(219, 219, 232);;
    color: black;
    transform: translate(-15px, -10px);
    font-size: 17px;
}
.modal7 /*hcec*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 200px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal7:hover
{
    background-color: rgb(219, 219, 232);;
    color: black;
    transform: translate(-15px, -10px);
    font-size: 17px;
}
.modal8 /*steam*/
{
    padding: 1.5cm;
    border-radius: 20px;
    width: 500px; height: 200px;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}
.modal8:hover
{
    background-color: rgb(219, 219, 232);
    color: black;
    transform: translate(-15px, -10px);
    font-size: 17px;
}

@media (max-width:1440px)
{
    img{margin-left: 26rem;}
}

@media (max-width:1024px)
{
    img{margin-left: 13rem;}
}

@media (max-width:1200px)
{
    img{margin-left: 19rem;}
}

@media (max-width:1044px)
{
    img{margin-left: 13rem;}
}

@media (max-width:768px)
{
    img{margin-left: 5rem;}
    .head2 h1{font-size: 75px;}
    .head2{width: 80%;}
}

@media (max-width:820px)
{
    img{margin-left: 7rem;}
    .head2 h1{font-size: 80px;}
    .head2{width: 80%;}
}