@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Pacifico&display=swap');

/*-----part menubar-----*/
*
{
    width: auto; height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img
{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.container
{
    background-color: rgb(24, 29, 36);
    max-width: 1440px;
    height: auto;
    width: 100%;
    margin: auto;
}

.firstpart
{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 15, 18);
    position: fixed;
    z-index: 1;
}
.menu0
{
    margin-left: 5rem;
}
.text1
{
    margin-top: 1.5rem;
    float: left;
}
.text1 h2
{
    color: aliceblue;
    font-size: 40px;
}
.text2
{
    letter-spacing: 2rem;
    padding: 2rem;
    float: right;
}
.text2 button
{
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}
.text2 a
{
    color: rgb(24, 45, 108);
    font-weight: 900;
    font-size: 20px;
    font-family: "Arvo", serif;
}

/*--------- header ---------*/
.head1
{
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    transition-duration: 0.3s;
}
.head1 h1
{
    max-width: 45rem;
    max-height: 10rem;
    border: 2px solid white;
    border-radius: 40px;
    background: transparent;
}
.head1 h1:hover
{
    background-color: aliceblue;
    color: black;
}

/*-------part School name------*/
.SchName
{
    padding: 0 4rem 0 4rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.SchName img
{
    width: 300px;
    height: 300px;
    padding: 5px;
    border: none;
    border-radius: 30px;
}
.SchName h1
{
    max-width: 25rem;
    width: 40rem;
    margin-top: 2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    color: aliceblue;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.692);
}
.SchName p
{
    margin-top: 4rem;
}
.A, .B, .C, .D
{
    display: flex;
}
