@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Pacifico&display=swap');

/*-----part menubar-----*/
*
{
    width: auto; height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    margin: 0 auto;
}

img
{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.container
{
    background-color: rgb(24, 29, 36);
    max-width: 1440px;
    height: auto;
    width: 100%;
    margin: auto;
}

.firstpart
{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 15, 18);
    position: fixed;
    z-index: 1;
}
.menu0
{
    margin-left: 5rem;
}
.text1
{
    margin-top: 1.5rem;
    float: left;
}
.text1 h2
{
    color: aliceblue;
    font-size: 40px;
}
.text2
{
    letter-spacing: 2rem;
    padding: 2rem;
    float: right;
}
.text2 button
{
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}
.text2 a
{
    color: rgb(24, 45, 108);
    font-weight: 900;
    font-size: 20px;
    font-family: "Arvo", serif;
}

/*--------- header ---------*/
.head1
{
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    transition-duration: 0.3s;
}
.head1 h1
{
    max-width: 45rem;
    max-height: 10rem;
    border: 2px solid white;
    border-radius: 40px;
    background-color: rgba(4, 4, 30, 0.708);
}


/*-------part School name------*/
.SchName
{
    padding: 0 4rem 0 4rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.SchName img
{
    width: 300px;
    height: 300px;
    padding: 5px;
    border: none;
    border-radius: 30px;
    transition-duration: 0.3s;
}
.SchName img:hover
{
    transform: translate(-5px, -5px);
    filter: brightness(50%);
}

.SchName h1
{
    max-width: 25rem;
    width: 40rem;
    margin-top: 2rem;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    color: aliceblue;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.692);
}
.SchName p
{
    margin-top: 4rem;
    color: aliceblue;
    font-size: 25px;
}
.A, .B, .C, .D
{
    display: flex;
}

/*--------last part-------*/


.activities img
{
    margin: 0 auto;
    margin-left: 12rem;
    border: 2px solid aliceblue;
    border-radius: 30px;
}
.btn
{
    float: right; margin-right: 18rem;
    margin-top: -9rem;
}
.btn button
{
    border: 2px solid aliceblue;
    border-radius: 35px;
    background: transparent;
    transition-duration: 0.4s;
}
.btn button:hover
{
    background-color: aliceblue;
}
.btn h1:hover
{
    color: black;
}
.btn h1
{
    font-size: 50px;
    padding: 1rem;
    color: white;
    font-family: "Dm Serif Display", serif;
}

/*---------------Media og screen part----------------*/

@media (max-width:1440px)
{
    .img
    {width: 400px; height: 400px;}
    .SchName{margin: 4rem;}
    .pic{margin-left: 8rem;}
}
@media (max-width:1024px)
{
    .btn h1{font-size: 45px; margin-right: 1rem;}
    .btn{margin-right: 9rem;}
}

@media (max-width:1044px)
{
    .SchName{margin: 2rem;}
    .btn{margin-right: 9rem;}
    .pic{margin-left: 1rem;}
}
.SchName{margin-left: -1rem;}

@media (max-width:820px)
{
    .SchName{margin-left: 0rem;}
    .pic{margin-left: -4rem;}
    .btn{margin-right: 5rem;}
}

@media (min-width:768px)
{
    .SchName{margin-left: -1rem;}
    .activities img{margin-left: 8rem;}
}

@media (max-width:375px)
{
    .firstpart{max-height: 12rem; height: 11rem;}
    .text2 {display: flex; margin-right: 3rem; margin-top: -1rem;}
    .text2 button{padding: 5px 7px; margin: 4px;}
    .head1{font-size: 20px; width: 90%; margin-top: 5rem;}
    .A1, .C1{margin: 0 auto; width: 90%; margin-left: -2rem;}
    .A2, .C2{margin: 0 auto; margin-left: -10rem; margin-top: 20rem;}
    .A2 h1, .C2 h1{font-size: 25px; width: 120%;}
    .B1, .D1{margin: 0 auto; margin-right: -10rem; margin-top: 20rem;}
    .B2{margin-left: -5.5rem;} .D2{margin-left: -1.5rem;}
    .B1 h1{font-size: 25px; width: 120%; margin-left: -0.5rem;}
    .D2{margin-left: -0.5rem;}
    .D1 h1{font-size: 25px; width: 150%; margin-left: 0rem;}
    .D1 p{margin-right: -5rem;}
    .pic img{margin: 5rem; margin-left: 7.5rem; margin-top: -2rem; width: 250px; height: 180px;}
    .btn button{margin-top: 6rem; width: 90%;}
    .btn h1{font-size: 25px;}
}
@media (max-width:320px)
{
    .text1{margin-left: -1rem;}
    .text2{margin-right: 2rem;}
    .SchName img{width: 250px; height: 270px;}
    .SchName{margin: 0 auto;}
    .A2 h1{margin-left: -1rem;}
    .A2 p{margin-right: -2rem;}
    .B2{margin-left: -4.5rem;}
    .B1 h1{margin-left: -1.5rem;}
    .C2 h1{margin-left: -1rem;}
    .D1{margin-left: 0.5rem;}
    .D1 h1{margin-left: -0.5rem;}
    .D1 p{margin-left: -2rem;}
    .activities{margin-top: 2rem;}
    .pic{margin-left: -5.5rem;}
    .btn{margin-right: 4rem;}
    .btn h1{text-align: center;}
}