@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Pacifico&display=swap');

body
{
    background-color: rgb(4, 11, 33);
}

.firstpart
{
    background-color: rgb(14, 15, 18);
}

.menu0 h2
{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    display: inline;
    text-align: start;
    padding: 2rem;
    list-style-type: none;
}

.menu0 a
{
    font-size: 20px;
    color: rgb(24, 45, 108);
}

.text1
{
    margin-top: 2rem;
    padding: 0 3rem;
    float:left;
}
.text2
{
    float: right;
    margin-right: 2rem;
}

.menu0 button
{
    font-weight: 900;
    margin-left: 0.5cm;
    margin-top: 2rem;
    padding: 10px 25px;
    border: 0;
    display: inline-flex;
    border-radius: 20px;
    transition-duration: 0.3s;
}
.menu0 button:hover
{
    box-shadow: 6px 6px 0px 0px rgb(103, 117, 163);
}

*
{
    font-family: "Arvo", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.head1
{
    background-color: black;
}
.head1 h1
{
    margin-left: 8.6cm;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 17cm;
    height: 3cm;
    border-radius: 30px;
    font-family: "Arvo", serif;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 0.5cm;
    box-shadow: 10px 10px 0 0 rgb(97, 97, 97);
}

.SchName 
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    color: white;
}


.SchName li
{
    list-style-type: none;
}

.A1 h1
{
    font-family: "DM Serif Display", serif;
}
.A1 p
{
    margin-top: 1cm;
}
.A1
{
    border: 1cm;
    border-radius: 20px;
    border: solid;
    width: 12cm;
    height: 1.25cm;
    margin-top: 2rem;
    margin-right: 6cm;
    text-align: center;
    float: right;
    color: white;
}
.A img
{
    border: 0;
    border-radius: 20px;
    margin-left: 8cm;
}


.B1
{
    border: 1cm;
    border: solid;
    border-radius: 20px;
    width: 10cm;
    height: 2.5cm;
    margin-left: 7.5cm;
    margin-top: 0.5rem;
    text-align: center;
    float: left;
    font-family: "DM Serif Display", serif;
    color: white;
}
.B h1
{
    font-family: "DM Serif Display", serif;
}
.B h1 p
{
    font-family: "Dm Serif Display", serif;
}
.tt
{
    margin-top: 1cm;
}
.B img
{
    border: 0;
    border-radius: 20px;
    margin-left: 3cm;
}


.C1
{
    border: 1cm;
    border-radius: 20px;
    border: solid;
    width: 12cm;
    height: 1.25cm;
    margin-top: 2rem;
    margin-right: 6cm;
    text-align: center;
    float: right;
    color: white;
}
.C h1
{
    font-family: "DM Serif Display", serif;
}
.C p
{
    margin-top: 1cm;
}
.C img
{
    border: 0;
    border-radius: 20px;
    margin-left: 8cm;
}


.D1 h1
{
    font-family: "DM Serif Display", serif;
    color: white;
}
.D p
{
    margin-top: 1cm;
}
.D1
{
    border: 1cm;
    border-radius: 20px;
    border: solid;
    width: 12cm;
    height: 1.25cm;
    margin-top: 2rem;
    margin-left: 7.5cm;
    text-align: center;
    float: left;
    color: white;
}
.D img
{
    border: 0;
    border-radius: 20px;
    margin-left: 1cm;
}

.Ac
{
    background-color: black;
}
.Ac h1
{
    color: aliceblue;
    font-family: "DM Serif Display" serif;
    font-size: 65px;
    font-weight: 600;
}
.pic
{
    margin-left: 3cm;
    border: 0;
    border-radius: 25px;
    align-items: start;
}

.Ac button
{
    margin-top: 2.3cm;
    margin-right: 4cm;
    float: right;
    background-color: black;
    border: 2px solid white;
    border-radius: 60px;
    width: 12cm;
    height: 3cm;
    transition-duration: 0.4s;
}
.Ac button:hover
{
    box-shadow: 0 10px 10px 0 rgba(192, 186, 186, 0.24), 0 5px 10px 0 rgba(122, 120, 120, 0.19);
    background-color: aliceblue;
}
.Ac button h1:hover
{
    color: black;
}