*
{
    font-family: "Arvo", serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right bottom, #210033, #1b0631, #160b2d, #130e28, #111023, #101023, #101123, #0f1123, #0d102a, #0a0e31, #070c37, #05093d);
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    height: 100%;
}

.container {
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.firstpart
{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.menu0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2vw);
}
.text1 h2
{
    font-size: 3vw;
    margin-left: 2rem;
}

.text2 a
{
    color: black;
    font-size: 2.5vw;
    text-decoration: none;
    font-weight: 700;
}
.text2 button {
    border: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 4px 4px 0px 0px rgb(114, 117, 128);
}
/*--------- header ---------*/
.head1
{
    margin: 15vw 3vw;
    text-align: center;
    color: aliceblue;
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 2px;
    transition-duration: 0.3s;
}
.head1 h1
{

    border: 2px solid white;
    border-radius: 6vw;
}
.head1 h1:hover
{
    background-color: aliceblue;
    color: black;
}

/*-------part School name------*/
.SchName
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.SchName img
{
    width: 40vw;
    height: 40vw;
    padding: 5px;
    border: none;
    border-radius: 50%;
    transition-duration: 0.3s;
}
.SchName img:hover
{
    transform: translate(-5px, -5px);
    filter: brightness(50%);
}

.SchName h1
{
    margin-top: 2rem;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    color: aliceblue;
    font-size: 3vw;
    background-color: rgba(0, 0, 0, 0.692);
}
.SchName p
{
    color: aliceblue;
    font-size: 3vw;
}
.A, .B, .C, .D
{
    display: flex;
    max-width: 100%;
}

/*--------last part-------*/

.activities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activities img
{
    margin: 0 auto;
    border: none;
    width: 50vw;
}
.btn{
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.btn button
{
    padding: 0 15px;
    border: 2px solid aliceblue;
    border-radius: 8vw;
    background: transparent;
    transition-duration: 0.4s;
}

.btn button:hover
{
    background-color: aliceblue;
}
.btn h1:hover
{
    color: black;
}
.btn h1
{
    font-size: 4vw;
    padding: 1rem;
    color: white;
    font-family: "Dm Serif Display", serif;
}
.btn a
{
    text-decoration: none;
}

/* responsive */
@media screen and (max-width: 768px) {
    .SchName div {
        flex-direction: column; /* Stack image and text vertically on smaller screens */
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 420px) {
    .SchName div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}