@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');

/*-----part menubar-----*/
*
{
    width: auto; height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img
{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.container
{
    background-color: rgb(24, 29, 36);
    max-width: 1440px;
    height: auto;
    width: 100%;
    margin: auto;
}

.firstpart
{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 15, 18);
    position: fixed;
    z-index: 1;
}
.menu0
{
    margin-left: 5rem;
}
.text1
{
    margin-top: 1.5rem;
    float: left;
}
.text1 h2
{
    color: aliceblue;
    font-size: 40px;
}
.text2
{
    letter-spacing: 2rem;
    padding: 2rem;
    float: right;
}
.text2 button
{
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}
.text2 a
{
    color: rgb(24, 45, 108);
    font-weight: 900;
    font-size: 20px;
    font-family: "Arvo", serif;
}

/*-------part introduce------*/
.UY
{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: black;
}
.profile
{
    display: flex;
}
.profile img
{
    margin: 0 auto;
    border-radius: 100%;
}
.profile h2
{
    margin: 0 auto;
    margin-top: 5rem;
    margin-left: -5rem;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}
.icon
{
    display: grid;
    margin-left: 20rem;
    margin-top: -5rem;
    letter-spacing: 1.5rem;
}
.icon i
{
    font-size: 55px;
    color: aliceblue;
}
.icon button
{
    border: none;
    background: none;
    transition-duration: 0.3s;
}
.icon button:hover
{
    transform: translate(0, -10px);
}
/*-------part content------*/

.section1, .section2, .section3
{
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 300px;
    border-radius: 40px;
    border: none;
    background-color: black;
    display: flex;
    transition-duration: 0.3s;
    cursor: pointer;
}
.section1:hover , .section2:hover , .section3:hover
{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 0 0  #314455;
}
.section1 img, .section2 img, .section3 img
{
    width: 250px; height: 250px;
    border-radius: 100%;

}
.section1 h2{margin-left: 2rem;} .section2 h2{margin-left: 2rem;} .section3 h2{margin-left: 2rem;}
.gard h2
{
    margin-top: 6rem;
    font-size: 45px;
    color: aliceblue;
}

/*--------part About me button---------*/
.last
{
    margin: inherit;
    max-width: 25rem;
    width: 100%;
}

.last h1
{
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    font-family: "DM Serif Display", serif;
    padding: 1rem;
}
.last button
{
    width: inherit;
    margin: auto;
    background:transparent;
    border: 2px solid white;
    border-radius: 40px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.last button:hover
{
    transform: translate(0px, -10px);
    background-color: white;
}
.last h1:hover
{
    color: #151b45;
}

/*---------------Media og screen part----------------*/

@media (max-width:820px)
{
    .gard{width: 85%;}
    .profile h2
    {font-size: 35px; margin-top: 7rem; margin-left: -1rem;}
}
@media (max-width:800px)
{
    .gard{width: 85%;}
    .profile h2
    {font-size: 35px; margin-top: 7rem; margin-left: -1rem;}
}

@media (max-width:768px) 
{
    .profile h2
    {font-size: 35px; margin-top: 7rem; margin-left: -2rem;}
    .gard{width: 80%;}
    .gard h2{font-size: 30px;}
}
@media (max-width:640px)
{
    .menu0{margin-left: 2rem;}
    .profile img{width: 250px; height: 250px;}
    .profile h2{font-size: 30px;}
    .icon{margin-left: 16rem;}
    .icon i{font-size: 40px;}
    .gard img{width: 200px; height: 200px;}
}
@media (max-width:390px)
{
    .firstpart{display: flex; height: 20%;}
    .text1{margin-left: 5rem;}
    .text2{padding: 1rem; margin-top: 1rem; margin-right: 1rem;}
    .profile{display: flex;}
    .profile img
    {
        width: 150px; height: 150px;
        margin: 0 auto; margin-top: 5rem;
        margin-left: 1rem;
    }
    .icon i{font-size: 30px;}
    .icon{margin-left: 8rem; margin-top: -2rem;}
    .gard img{width: 100px; height: 100px;}
    .gard h2{font-size: 25px; margin-top: 1rem;}
    .section3 h2{margin-top: 2.5rem;}
    .last{width: 85%; margin: 1rem; margin-left: 3.5rem;}
    .last h1{font-size: 50px;}
}
@media (max-width:320px)
{
    .firstpart{height: 25%;}
    .text1{margin-left: 1.6rem;}
    .text2{margin-left: -1rem; display: flex; margin-top: 0rem;}
    .text2 button{padding: 5px 7px; margin: 4px;}
    .profile{display: flex; margin-top: 5rem;}
    .profile img
    {
        width: 150px; height: 150px;
        margin: 0 auto; margin-left: 5.5rem;
    }
    .profile h2{font-size: 20px; margin-top: 11rem; margin-left: 4.5rem; position: absolute;}
    .icon{margin-top: 4rem; margin-left: 0.5rem; padding: 0;}
    .icon i{font-size: 30px;}
    .gard h2{font-size: 15px;}
    .section1 h2, .section2 h2{margin-top: 2rem;}
    .last{margin-left: 3.5rem;}
    .last h1{font-size: 35px;}
    .last button{width: 75%;}
}
/*Can not edit size of screen in 375px and 360px*/