@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Pacifico&display=swap');

body
{
    background-color: rgb(24, 29, 36);
}

.firstpart
{
    background-color: rgb(14, 15, 18);
    position: fixed;
    margin-top: 0cm;
    z-index: 1;
}


.menu0 h2
{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    display: inline;
    text-align: start;
    padding: 2rem;
    list-style-type: none;
}

.menu0 a
{
    font-size: 20px;
    color: rgb(24, 45, 108);
}

.text1
{
    margin-left: 1.25cm;
}
.text2
{
    margin-right: 0.9cm;
    margin-left: 15.25cm;
}

.menu0 button
{
    font-weight: 900;
    margin-left: 0.5cm;
    margin-top: 2rem;
    list-style-type: none;
    padding: 10px 25px;
    border: 0;
    display: inline-flex;
    border-radius: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.menu0 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 6px 6px 0px 0px rgb(114, 117, 128);
}

.logo
{
    padding: 2px 2px;
    font-size: 2rem;
    text-align: start;
    position: relative;
}

*
{
    font-family: "Arvo", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.section1
{
    margin-left: 6rem;
    border-radius: 70px;
    width: 28cm;
    height: 10cm;
    transition-duration: 0.3s;
    cursor: pointer;
}
.section1:hover
{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 0px 0px rgb(99, 105, 133);
}

.section2
{
    margin-left: 6rem;
    border-radius: 70px;
    width: 28cm;
    height: 10cm;
    transition-duration: 0.3s;
    cursor: pointer;
}
.section2:hover
{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 0 0 rgb(99, 105, 133);
}

.section3
{
    margin-left: 6rem;
    border-radius: 70px;
    width: 28cm;
    height: 10cm;
    transition-duration: 0.3s;
    cursor: pointer;
}
.section3:hover
{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 0 0 rgb(99, 105, 133);
}

.profile img
{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-left: 4rem;
    margin-top: -80px;
}

.profile h2
{
    font-size: 50px;
    margin-top: -15rem;
    color: aliceblue;
    text-align: center;
    margin-left: 9.5cm;
}

.icon ul
{
    margin-top: 3.5rem;
    margin-left: 13cm;
}
ul i
{
    display: flex;
    background: none;
    font-size: 60px;
    color: aliceblue;
}

.gard
{
    background-color: rgb(24, 29, 36);
}
.gard h2
{
    text-align: center;
    font-size: 55px;
    list-style: none;
    color: aliceblue;
}

.SL
{
    display: inline-flex;
}
.SL h2
{
    margin-top: -5.5cm;
    margin-left: 10cm;
}

.SL img
{
    filter: contrast(100%);
    margin: 2rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.CP
{
    display: inline-flex;
}
.CP h2
{
    margin-left: 11.5cm;
    margin-top: -5.5cm;
}
.CP img
{
    filter: contrast(100%);
    margin: 2rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.CT
{
    display: inline-flex;
}
.CT h2
{
    margin-left: 12cm;
    margin-top: -5.5cm;
}
.CT img
{
    filter: contrast(100%);
    margin: 2rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


.AM
{
    margin-left: 11cm;
}
.AM h1
{
    text-align: center;
    color: aliceblue;
    font-family: "DM Serif Display", serif;
    font-size: 80px;
    font-weight: 900;
}

.AM button
{
    width: 12cm;
    height: 3.5cm;
    border-radius: 55px;
    border: solid white;
    background: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
}
.AM button:hover
{
    background-color: aliceblue;
}
.AM button h1:hover
{
    color: rgb(7, 15, 56);
}