@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Itim&family=Pacifico&display=swap');

body
{
    background-color: rgb(14, 20, 28);
}

.firstpart
{
    background-color: rgb(4, 11, 33);
}


.menu0 h2
{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    display: inline;
    text-align: start;
    padding: 2rem;
    list-style-type: none;
}

.menu0 a
{
    font-size: 20px;
    color: rgb(24, 45, 108);
}

.text1
{
    margin-top: 2rem;
    padding: 0 3rem;
    float:left;
}
.text2
{
    float: right;
    margin-right: 2rem;
}

.menu0 button
{
    font-weight: 900;
    margin-left: 0.5cm;
    margin-top: 2rem;
    list-style-type: none;
    padding: 10px 25px;
    border: 0;
    display: inline-flex;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px rgb(103, 117, 163);
}

.logo
{
    padding: 2px 2px;
    font-size: 2rem;
    text-align: start;
    position: relative;
}

*
{
    font-family: "Arvo", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.section1
{
    margin-left: 1rem;
    border-radius: 70px;
    width: 32cm;
    height: 10cm;
}

.section3
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile img
{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -80px;
}


.profile h2
{
    font-size: 50px;
    margin-top: -15rem;
    color: aliceblue;
    text-align: center;
    margin-left: 7cm;
}

.icon ul
{
    margin-top: 3.5rem;
    margin-left: 16.5cm;
}
ul i
{
    letter-spacing: 10px;
    display: inline;
    margin: 0.5rem;
    background: none;
    font-size: 40px;
    color: aliceblue;
}

.gard h2
{
    text-align: center;
    font-size: 55px;
    list-style: none;
    color: aliceblue;
}

.SL
{
    display: inline-flex;
}
.SL h2
{
    margin-top: 4cm;
    margin-left: 3cm;
}

.SL img
{
    filter: contrast(100%);
    margin: 2rem;
    box-shadow: 0px 0px 18px 0px rgb(91, 98, 174);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: rgb(255, 255, 255);
}

.CP
{
    display: inline-flex;
}
.CP h2
{
    margin-left: 4.5cm;
    margin-top: 4cm;
}
.CP img
{
    filter: contrast(100%);
    margin: 2rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.CT
{
    display: inline-flex;
}
.CT h2
{
    margin-left: 5.5cm;
    margin-top: 4.5cm;
}
.CT img
{
    filter: contrast(100%);
    margin: 2rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.section4
{
    background-color: black;
}
.AM
{
    margin-left: 11cm;
}
.AM h1
{
    text-align: center;
    color: aliceblue;
    font-family: "DM Serif Display", serif;
    font-size: 80px;
    font-weight: 900;
}

.AM button
{
    width: 12cm;
    height: 3.5cm;
    border-radius: 55px;
    border: solid white;
    background-color: black;
}