*
{
    font-family: "Arvo", serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 29, 36);
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    height: 100%;
}

.container {
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.firstpart
{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.menu0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2vw);
}
.text1 h2
{
    font-size: 3vw;
    margin-left: 2rem;
}

.text2 a
{
    color: black;
    font-size: 3vw;
    text-decoration: none;
    font-weight: 700;
}
.text2 button {
    border: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.text2 button:hover
{
    transform: translate(-7px,-7px);
    box-shadow: 4px 4px 0px 0px rgb(114, 117, 128);
}

/* UY */
.UY {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin-top: 20vh; 
    margin-bottom: 2vh;
}
.icon{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icon img {
    width: 40vw;
    height: 40vw;
    border-radius: 50%; 
    border: 2px solid white; 
    object-fit: cover; 
    margin: 0 auto;
}
.icon h2 {
    margin: 1rem auto;
    font-size: 5vw;
    color: #fff;
    text-align: center; 
}

.icon button{
    border: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.icon button:hover
{
    transform: translate(0, -10px);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

ul button i {
    background-color: white;
    border: none;
    cursor: pointer;
}

ul button a {
    color: black;
    text-decoration: none;
    font-size: 3vw;
}

/* gard */
.gard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.section1, .section2, .section3 {
    display: flex;
    margin: 2rem;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 6vw;
    padding: 10px;
    background-color: black;
    transition-duration: 0.2s;
}
.section1:hover , .section2:hover , .section3:hover
{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 0 0  #314455;
}

.section1 img, .section2 img, .section3 img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.section1 h2, .section2 h2, .section3 h2 {
    margin: 0;
    font-size: 4vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.section1 a, .section2 a, .section3 a{
    text-decoration: none;
}

/* last part */
.last{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.last a{
    text-decoration: none;
}
.last h1{
    font-size: 5vw;
    padding: 0 10px;
    color: aliceblue;
}
.last button{
    border: 2px solid aliceblue;
    border-radius: 8vw;
    background: transparent;
    transition-duration: 0.3s;
    cursor: pointer;
}
.last button:hover
{
    transform: translate(0px, -10px);
    background-color: white;
}
.last h1:hover
{
    color: #151b45;
}
